{% set currentPath = url(app.request.get('_route'), app.request.get('_route_params')) %}
{% set hasSitesConfigured = sites | length > 0 %}
<li class="c-header-nav-item{{ hasSitesConfigured ? ' dropdown dropright': '' }}">
    <a{{ hasSitesConfigured ? ' class="c-header-nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"' : ' class="c-header-nav-link"' }}>
            <span>
                Context: <strong>{{ currentContext.name }} <small>({{ currentContext.host }})</small></strong>
                <span class="c-arrow"></span>
            </span>
    </a>
    {% if hasSitesConfigured %}
        <div class="dropdown-menu dropdown-menu-right pt-0">
            {% for site in sites %}
                <a class="dropdown-item" href="{{ host_url(app.request.get('_route'), app.request.get('_route_params'), false, site.host) }}">
                    <span><strong>{{ site.name }}</strong> <small class="c-font-italic">{{ site.host }}</small></span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</li>
